.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  animation: fadeIn 400ms ease forwards;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.columnLeft {
  background-color: var(--mantine-color-black);
  display: flex;
  height: 100%;
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.columnRight {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.formStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 40px;
}

.receiptWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
