# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Local env
.env
.env.local
.env.*.local

# Editor
.vscode/*
!.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Generated SCSS types
src/**/*.module.scss.d.ts
