.invoiceWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.invoiceInner {
  width: 100%;
  max-width: 600px;
  padding: 40px;
}

.invoiceGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(0px, 45%, 400px);
}

.totalText {
  font-weight: bold;
}

.invoiceLeft {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.invoiceRight {
  display: flex;
  justify-content: end;
}

.invoiceMerchant {
  color: var(--mantine-color-gray-5);
}

.invoiceTotal {
  font-size: 28px;
  color: white;
}

.invoiceItemGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  width: 100%;
  margin-top: 15px;
}

.invoiceTotalGrid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 3px;
  width: 100%;
  margin-top: 24px;
}

.invoiceItem {
  font-size: 16px;
}

.invoiceItemLeft {
  display: flex;
  flex-direction: column;
}

.invoiceItemRight {
  display: flex;
  flex-direction: column;
}

.divider {
  margin: 25px 0;
  border-top: 1px;
}
