.receiptWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;
  padding: 8px 0;
}

.title {
  font-size: 26px;
  font-weight: 600;
  color: var(--text);
  margin-top: 16px;
  margin-bottom: 32px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  row-gap: 14px;
}

.label {
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
}

.value {
  font-size: var(--mantine-font-size-sm);
  font-weight: 500;
  color: var(--text);
  text-align: right;
}
