.shippingForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.title {
  color: var(--text);
  margin-bottom: 15px;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;

  :global(.mantine-TextInput-root) {
    margin-bottom: 25px !important;
  }
}

.shippingCheckbox {
  :hover {
    cursor: pointer;
  }

  label {
    color: var(--text);
  }
}

.textInputName {
  width: 100%;
}

.textInputEmail {
  width: 100%;
}
