.paymentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
  padding: 0 clamp(16px, 5vw, 40px);
}

.title {
  color: var(--text);
  margin-bottom: 15px;
  font-weight: 600;
}

.inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;

  :global(.mantine-TextInput-root) {
    margin-bottom: 35px !important;
  }
}

.expiryInputs {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.expiryDate {
  flex: 1;
}

.zip {
  flex: 2;
}

.expiryCvv {
  flex: 1;
}

.billingRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;

  @media (max-width: 768px) {
    flex-direction: column;
    gap: 0;
  }
}

.billingCity {
  flex: 2;
}

.billingState {
  flex: 1;
}

.billingZip {
  flex: 1;
}

.cardLabel {
  label {
    left: 45px;

    &[data-floating] {
      transform: translate(calc(var(--mantine-spacing-sm) * -3.7), -28px);
    }
  }
}

.invoiceHeader {
  --invoice-header-merchant-color: var(--mantine-color-gray-6);
  --invoice-header-total-color: var(--text);
  margin-bottom: 25px;

  @media (min-width: 768px) {
    display: none;
  }
}

.shippingCheckbox {
  :hover {
    cursor: pointer;
  }

  label {
    color: var(--text);
  }
}

.textInputName {
  width: 100%;
  line-height: 1.5;
}

.textInputEmail {
  width: 100%;
}
